{% extends 'base.html' %}

{% block content %}
    <form action="{% url 'app1:add_discussion' %}" method="post">
        {% csrf_token %}
        <span>标题：</span> <input type="text" name="title" value="标题.."> <br>
        <div id="div1" class="toolbar">
        </div>
        <div style="padding: 5px 0; color: #ccc"> </div>
        <div id="div2" class="text">
            <p>请输入内容..</p>
        </div>
        <textarea name="content" id="text1" style="display:none"></textarea>
        <span>添加标签,让你的问题被更多人看到!</span><br>
        <span>学习区</span>
        <input type="checkbox" value="1" name="item" onClick="onCheckBox(this)">高等数学
        <input type="checkbox" value="2" name="item" onClick="onCheckBox(this)">线性代数
        <input type="checkbox" value="3" name="item" onClick="onCheckBox(this)">数据结构与算法
        <input type="checkbox" value="4" name="item" onClick="onCheckBox(this)">大学物理
        <input type="checkbox" value="5" name="item" onClick="onCheckBox(this)">概率论
        <input type="checkbox" value="6" name="item" onClick="onCheckBox(this)">机械制图
        <br><span>生活区</span>
        <input type="checkbox" value="7" name="item" onClick="onCheckBox(this)">寻物启事与失物招领
        <input type="checkbox" value="8" name="item" onClick="onCheckBox(this)">找寻组织与兴趣交流
        <input type="checkbox" value="9" name="item" onClick="onCheckBox(this)">心理咨询
        <input type="checkbox" value="10" name="item" onClick="onCheckBox(this)">跳蚤市场
        <br><button>发布</button>
    </form>
{% endblock %}

{% block head %}
    {{ block.super }}
    <script language="javascript" type="text/javascript">
    var maxChoices = 3;
    var flag = 0;
    function onCheckBox(checkbox) {
        var items = document.getElementsByName("item");
        if(checkbox.checked) {
            flag ++;
        }
        else {
            flag --;
        }
        if(flag < maxChoices) {
            for(var i=0; i<items.length; i++) {
                if(!items[i].checked) {
                    items[i].disabled = false;
                }
            }
        }
        else {
            for(var i=0; i<items.length; i++) {
                if(!items[i].checked) {
                    items[i].disabled = true;
                }
            }
        }
    }
</script>
{% endblock %}

{% block css_code %}
    <style type="text/css">
        .toolbar {
            border: 1px solid #ccc;
        }
        .text {
            border: 1px solid #ccc;
            height: 400px;
        }
        .userlabels {
            width: 60px ;
        }
    </style>
{% endblock %}

{% block js_code %}
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    {#    以下为富文本相关   #}
    <script type="text/javascript" src="/static/js/wangEditor/wangEditor.min.js"></script>
    <script type="text/javascript">
        var E = window.wangEditor
        var editor1 = new E('#div2')  // 两个参数也可以传入 elem 对象，class 选择器
        editor1.customConfig.uploadImgShowBase64 = true //upload pictures
        editor1.customConfig.colors = [
            '#000000',
            '#eeece0',
            '#1c487f',
            '#4d80bf',
            '#c24f4a',
            '#6b8e23',
            '#7b5ba1',
            '#46acc8',
            '#f9963b',
            '#ffffff',
            '#ffff00',
            '#ffc0cb',
        ]
        {#editor1.create()#}
        var $text1 = $('#text1')
        editor1.customConfig.onchange = function (html) {
            // 监控变化，同步更新到 textarea
            $text1.val(html)
        }
        editor1.create()
        // 初始化 textarea 的值
        $text1.val(editor1.txt.html())
    </script>
{% endblock %}