{% extends 'base.html' %}

{% block head %}
    <div>
        <a href="{% url 'app1:add_discussion' %}">提问</a> &nbsp;
    </div>
    <form action="{% url 'app1:search_discussion' %}" method="post">
        {% csrf_token %}
        <div class="searcher">
        <input type="text" name="search_ob" placeholder="请输入您想要搜索的问题...">
        <button>Search</button>
        </div>
    </form>
    <hr>
    <span>学习区</span><br>
    <a href="{% url 'app1:get_d_label' 1 %}">高等数学</a>&nbsp;
    <a href="{% url 'app1:get_d_label' 2 %}">线性代数</a>&nbsp;
    <a href="{% url 'app1:get_d_label' 3 %}">数据结构与算法</a>&nbsp;
    <a href="{% url 'app1:get_d_label' 4 %}">大学物理</a>&nbsp;
    <a href="{% url 'app1:get_d_label' 5 %}">概率论</a>
    <a href="{% url 'app1:get_d_label' 6 %}">机械制图</a><br>
    <span>生活区</span><br>
    <a href="{% url 'app1:get_d_label' 7 %}">寻物启事与失物招领</a>
    <a href="{% url 'app1:get_d_label' 8 %}">找寻组织与兴趣交流</a>
    <a href="{% url 'app1:get_d_label' 9 %}">心理咨询</a>
    <a href="{% url 'app1:get_d_label' 10 %}">跳蚤市场</a>
    <hr>
{% endblock %}

{% block content %}

    <ul>
        {% for discussion in discussions %}
            <li><a href="{% url 'app1:show_discussion' discussion.id 0 %}">{{ discussion.title }}</a></li>
        {% empty %}
            <li>No Discussion ! </li>
        {% endfor %}
    </ul>
    {#    nav里为分页器 #}
    <nav aria-label="Page navigation">
        <ul class="pagination">

            {% if page_now == 1 %}
                <li class="disabled">
                    <span>
                        <span aria-hidden="true">&laquo;</span>
                    </span>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'app1:discussions' %}?page={{ page_objects.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}

            {% for page in page_range %}
                <li>
                    <a href="{% url 'app1:discussions' %}?page={{ page }}">{{ page }}</a>
                </li>
            {% endfor %}

            {% if page_objects.has_next %}
                <li>
                    <a href="{% url 'app1:discussions' %}?page={{ page_objects.next_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="disabled">
                    <span>
                        <span aria-hidden="true">&raquo;</span>
                    </span>
                </li>
            {% endif %}
        </ul>
    </nav>

{% endblock %}