{% extends 'base.html' %}

{% block content %}
    {% if label_type == '1' %}
        <h3>高等数学</h3>
    {% elif label_type == '2' %}
        <h3>线性代数</h3>
    {% elif label_type == '3' %}
        <h3>数据结构与算法</h3>
    {% elif label_type == '4' %}
        <h3>大学物理</h3>
    {% elif label_type == '5' %}
        <h3>概率论</h3>
    {% elif label_type == '6' %}
        <h3>机械制图</h3>
    {% elif label_type == '7' %}
        <h3>寻物启事与失物招领</h3>
    {% elif label_type == '8' %}
        <h3>找寻组织与兴趣交流</h3>
    {% elif label_type == '9' %}
        <h3>心理咨询</h3>
    {% elif label_type == '10' %}
        <h3>跳蚤市场</h3>

    {% endif %}
    <ul>
        {% for discussion in discussions %}
            <li><a href="{% url 'app1:show_discussion' discussion.id 0 %}">{{ discussion.title }}</a></li>
        {% empty %}
            <li>No Discussion ! </li>
        {% endfor %}
    </ul>
{% endblock %}