{% extends 'base.html' %}

{% block content %}
    <h3>我收藏的讨论</h3><br>
    <ul>
        {% for discussion in discussions %}
            <li>
                <div><a href="{% url 'app1:show_discussion' discussion.id 0 %}">{{ discussion.title }}</a></div>
                <a href="{% url 'app1:uncollect_discussion' discussion.id %}" style="float: right">取消收藏</a>
                <hr>
            </li>
            {% empty %}
            <li>您还没有收藏任何问题哦~</li>
        {% endfor %}
    </ul>

{% endblock %}