{% extends 'base.html' %}

{% load static %}

{% block head %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <h2>{{ discussion.title }}</h2>
    <div>提问者：<a href="{% url 'app1:his_home' discussion.owner.id %}">{{ discussion.owner.name }}</a></div>
    {% if is_author %}
        <a href="{% url 'app1:delete_discussion' discussion_id=discussion.id %}">删除</a>
    {% endif %}
    <hr>
    <p>{{ discussion.content | safe }}</p>  {# 为解决html内容无法显示的问题，添加“safe”，但也使网站易被攻击 #}
    <hr>


    {% if is_login %}
        <span id="like" star_id="{{ discussion.owner.id }}" fan_id="{{ user.id }}">关注提问者</span> &nbsp;
        <span id="recommend" discussion_id="{{ discussion.id }}" fan_id="{{ user.id }}" >赞</span> &nbsp;
        <span id="mark" discussion_id="{{ discussion.id }}" fan_id="{{ user.id }}" >收藏</span> &nbsp;
        <span>{{ discussion.comments_num }}评论</span>
        <br> <span id="AttentionHint"></span>
    {% endif %}

    <hr>
    {% if is_label %}
        标签:
        {% for label in labels %}
            {{ label }}&nbsp;
        {% endfor %}
    {% endif %}
    <hr>
    <h5><div><a href="{% url 'app1:add_discussion_comment' discussion_id=discussion.id %}">添加评论</a></div></h5>
    <a href="{% url 'app1:show_discussion' discussion.id 0 %}">最热评论</a>&nbsp;
    <a href="{% url 'app1:show_discussion' discussion.id 1 %}">最新评论</a>
    <ul>
        {% for comment in comments %}
            <li>
                <div>
                    <span><a href="{% url 'app1:his_home' comment.owner.id %}">{{ comment.owner.name }}</a></span>
                    <br>
                    <p>{{ comment.content }}</p>

                    {% for comment_response in comment_responses %}
                        {% if comment_response.comment == comment %}
                            {% if comment_response.type == 0 %}
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="{% url 'app1:his_home' comment_response.owner.id %}" style="display: inline; color: dimgray">
                                    {{ comment_response.owner.name }}
                                </a>
                                <p style="display: inline; color: #999999">:{{ comment_response.content }}</p>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <h6 style="display: inline; color: #999999">{{ comment_response.add_time }}</h6>
                                <a href="{% url 'app1:res_dis_res' comment_response.id 1 discussion.id %}" style="display: inline; color: #999999">回复</a>
                                <br>
                            {% else %}
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="{% url 'app1:his_home' comment_response.owner.id %}" style="display: inline; color: dimgray">
                                    {{ comment_response.owner.name }}
                                </a>回复了
                                <a href="{% url 'app1:his_home' comment_response.comment_res.owner.id %}" style="display: inline; color: dimgray">
                                    {{ comment_response.comment_res.owner.name }}
                                </a>
                                <p style="display: inline; color: #999999">:{{ comment_response.content }}</p>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <h6 style="display: inline; color: #999999">{{ comment_response.add_time }}</h6>
                                <a href="{% url 'app1:res_dis_res' comment_response.id 1 discussion.id %}" style="display: inline; color: #999999">回复</a>
                                <br>
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                    {{ comment.likes_num }}
                    <a href="{% url 'app1:recommend_discussion_response' comment.id user.id %}">
                        点赞
                    </a>&nbsp;&nbsp;
                    <a href="{% url 'app1:res_dis_res' comment.id 0 discussion.id %}">回复</a>&nbsp;&nbsp;&nbsp;

                    {% if user.id == comment.owner.id  %}
                        <span><a href="{% url 'app1:delete_comment' comment.id %}">删除评论</a></span>
                    {% endif %}
                    <h6>回答于{{ comment.add_time }}</h6>
                    <span id="AttentionHint2"></span>
                </div><br>
            </li>
        {% empty %}
            <li>该文章目前还没有评论...</li>
        {% endfor %}
    </ul>

{% endblock %}

{% block js_code %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/my_js/discussion/show_discussion.js' %}"></script>
{% endblock %}