{% extends 'base.html' %}

{% block content %}
    <form action="{% url 'app1:personal_information' %}" method="post">
        {% csrf_token %}
        <div> <span>username: {{ user.name }}</span> </div>
        <div> <span>email: </span> <input name="email" id="email" type="text" value="{{ user.mail }}">  </div>
{#        <div> <span>sex: </span> <input name="sex" id="sex" type="text"> </div>#}
        <div>
            sex:<input type="radio" value="0" name="sex" checked="checked">Unknown
            <input type="radio" value="1" name="sex">Male
            <input type="radio" value="2" name="sex">Female
        </div>
        <div> <span>motto: </span> <input name="motto" id="motto" type="text" value="{{ user.motto }}"></div>
        <button>提交修改</button>
    </form>
{% endblock %}

{% block js_code %}
    <script type="text/javascript">
        var email = document.getElementById("email");
        email.value = "{{ user.mail }}" ;
        var sex = document.getElementById("sex");
        sex.value = "{{ user.sex }}" ;
        var motto = document.getElementById("motto");
        motto.value = "{{ user.motto }}" ;

    </script>
{% endblock %}