{% extends 'Blog/base_blog.html' %}

{% block content %}
    {% if label_type == '1' %}
        <h3>习题解答</h3>
    {% elif label_type == '2' %}
        <h3>数学建模</h3>
    {% elif label_type == '3' %}
        <h3>数据结构与算法</h3>
    {% elif label_type == '4' %}
        <h3>学习资料</h3>
    {% elif label_type == '5' %}
        <h3>考研</h3>
    {% elif label_type == '6' %}
        <h3>校园生活</h3>
    {% elif label_type == '7' %}
        <h3>经验分享</h3>
    {% endif %}
    <ul>
        {% for article in articles %}
            <li><a href="{% url 'app1:show_article' article_id=article.id %}">{{ article.title }}</a></li>
        {% empty %}
            <li>No Article ! </li>
        {% endfor %}
    </ul>
{% endblock %}