{% extends 'Blog/base_blog.html' %}

{% block head %}
    <div>
        <a href="{% url 'app1:add_article' %}">写博客</a> &nbsp;
{#        <span>...搜索...</span>#}
    </div>
    <form action="{% url 'app1:search_blog' %}" method="post">
        {% csrf_token %}
        <div class="searcher">
        <input type="text" name="search_ob" placeholder="请输入您想要搜索的博客...">
        <button>Search</button>
        </div>
    </form>
    <hr>
    <span>学科</span><br>
    <a href="{% url 'app1:get_label' 1 %}">高等数学</a>&nbsp;
    <a href="{% url 'app1:get_label' 2 %}">线性代数</a>&nbsp;
    <a href="{% url 'app1:get_label' 3 %}">数据结构与算法</a>&nbsp;
    <a href="{% url 'app1:get_label' 4 %}">大学物理</a>&nbsp;
    <a href="{% url 'app1:get_label' 5 %}">概率论</a>
    <br><span>专业</span><br>
    <a href="{% url 'app1:get_label' 6 %}">计算机科学与技术</a>&nbsp;
    <a href="{% url 'app1:get_label' 7 %}">机电工程与自动化</a>&nbsp;
    <a href="{% url 'app1:get_label' 8 %}">电子与信息工程</a>
    <a href="{% url 'app1:get_label' 9 %}">经济管理</a>
    <a href="{% url 'app1:get_label' 10 %}">材料与环境</a>
    <hr>
    <div>
        <a href="{% url 'app1:blogs' 0 %}">最热文章</a> &nbsp;
        <a href="{% url 'app1:blogs' 1 %}">最新文章</a>
    </div>
{% endblock %}

{% block content %}

    <ul>
        {% for article in page_objects %}
            <li>
                <a href="{% url 'app1:show_article' article_id=article.id %}">{{ article.title }}</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span>{{ article.tag2 }}</span>
                <br>
                <span>{{ article.content }}</span>
            </li>
        {% empty %}
            <li>No Article ! </li>
        {% endfor %}
    </ul>
    {#    nav里为分页器 #}
    <nav aria-label="Page navigation">
        <ul class="pagination">

            {% if page_now == 1 %}
                <li class="disabled">
                    <span>
                        <span aria-hidden="true">&laquo;</span>
                    </span>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'app1:blogs' 0 %}?page={{ page_objects.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}

            {% for page in page_range %}
                <li>
                    <a href="{% url 'app1:blogs' 0 %}?page={{ page }}">{{ page }}</a>
                </li>
            {% endfor %}

            {% if page_objects.has_next %}
                <li>
                    <a href="{% url 'app1:blogs' 0 %}?page={{ page_objects.next_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="disabled">
                    <span>
                        <span aria-hidden="true">&raquo;</span>
                    </span>
                </li>
            {% endif %}
        </ul>
    </nav>

{#    {% for blog in blogs %}#}
{#        <div blog_id="{{ blog.id }}" class="blog">#}
{#            <div>{{ blog.title }} &nbsp&nbsp&nbsp&nbsp&nbsp {{ blog.author.name }}</div>#}
{#            <br>#}
{#            <p>{{ blog.content }}</p>#}
{#        </div>#}
{#        <hr>#}
{#    {% endfor %}#}
{% endblock %}

{% load static %}
{% block js_code %}
    <script type="text/javascript" src="{% static 'js/my_js/blog/blogs.js' %}"></script>
{% endblock %}