{% extends 'Blog/base_blog.html' %}

{% load static %}

{% block head %}

{% endblock %}

{% block content %}
    <form action="{% url 'app1:edit_blog' article.id %}" method="post">
        {% csrf_token %}
{#        <span>标题：</span> <input type="text" name="title" value="{{ article.title }}"> <br>#}
{#        <span>内容：</span> <textarea name="content">{{ article.content }}</textarea>#}
        <span>标题：</span> <input type="text" name="title" value={{ article.title }}> <br>
        <div id="div1" class="toolbar">
        </div>
        <div style="padding: 5px 0; color: #ccc"> </div>
        <div id="div2" class="text">
            {% autoescape off %}
            <p>{{ article.content }}</p>
            {% endautoescape %}
        </div>
        <textarea id="text1" name="content" style="display: none"></textarea>
        <button>发布</button>
    </form>
{% endblock %}

{% block css_code %}
    <style type="text/css">
        .toolbar {
            border: 1px solid #ccc;
        }
        .text {
            border: 1px solid #ccc;
            height: 400px;
        }
        .userlabels {
            width: 60px ;
        }
    </style>
{% endblock %}

{% block js_code %}
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    {#    以下为富文本相关   #}
    <script type="text/javascript" src="/static/js/wangEditor/wangEditor.min.js"></script>
    <script type="text/javascript">
        var E = window.wangEditor
        var editor1 = new E('#div2')  // 两个参数也可以传入 elem 对象，class 选择器
        {#editor1.create()#}
        var $text1 = $('#text1')
        editor1.customConfig.onchange = function (html) {
            // 监控变化，同步更新到 textarea
            $text1.val(html)
        }
        editor1.create()
        // 初始化 textarea 的值
        $text1.val(editor1.txt.html())
    </script>
{% endblock %}