{% extends 'Blog/base_blog.html' %}

{% block content %}

    <span>分类:</span>
    <ul>
        {% for ulabel in ulabels %}
            <li>
                <a href="{% url 'app1:my_blog' %}?ulabel_now={{ ulabel.id }}">{{ ulabel.name }}</a>
            </li>
        {% endfor %}
        <li>
            <a href="{% url 'app1:my_blog' %}?ulabel_now=0">全部分类</a>
        </li>
    </ul>

    <hr>

    <ul>
        {% for article in articles %}
            <li>
                <a href="{% url 'app1:show_article' article_id=article.id %}">
                    <h4>{{ article.title }}</h4>
                    {% autoescape off %}
                    <div>{{ article.content }}</div>
                    {% endautoescape %}
                </a>
            </li>
        {% empty %}
            <li>No blogs!</li>
        {% endfor %}
    </ul>

{% endblock %}