{% extends 'Blog/base_blog.html' %}

{% block head %}
    <div>
        <a href="{% url 'app1:add_article' %}">写博客</a> &nbsp&nbsp&nbsp&nbsp
{#        <span>...搜索...</span>#}
    </div>
    <form action="{% url 'app1:search_blog' %}" method="post">
        {% csrf_token %}
        <div class="searcher">
            <input type="text" name="search_ob" placeholder="请输入您想要搜索的博客...">
            <button>Search</button>
        </div>
    </form>
    <hr>
{% endblock %}

{% block content %}
    <h4>搜索结果</h4>
    <ul>
        {% for aim_blog in aim_blogs %}
            <li><a href="{% url 'app1:show_article' article_id=aim_blog.id %}">{{ aim_blog.title }}</a></li>
        {% empty %}
            <span>没有找到这样的博客哦..</span>
            <a href="{% url 'app1:add_article' %}">我要创作?</a>
        {% endfor %}
    </ul>
{% endblock %}